/*
                __                                   __
    /'\_/`\  __/\ \__                               /\ \
    /\      \/\_\ \ ,_\   ____  __  __    ___     ___\ \ \____  __  __
    \ \ \__\ \/\ \ \ \/  /',__\/\ \/\ \ /' _ `\  / __`\ \ '__`\/\ \/\ \
    \ \ \_/\ \ \ \ \ \_/\__, `\ \ \_\ \/\ \/\ \/\ \L\ \ \ \L\ \ \ \_\ \
    \ \_\\ \_\ \_\ \__\/\____/\ \____/\ \_\ \_\ \____/\ \_,__/\ \____/
    \/_/ \/_/\/_/\/__/\/___/  \/___/  \/_/\/_/\/___/  \/___/  \/___/

    Author          : Mitsunobu
    Create Time     : 2022-11-29 16:19:47
    Modified by     : Mitsunobu
    Modified time   : 2022-11-29 18:55:56
*/

/***************************/
/*      TAG SELECTORS      */
/***************************/

@font-face
{
    font-family      : 'Matrix';
    font-style       : normal;
    font-weight      : normal;
    src              : url('../fonts/OCRAEXT.TTF') format('truetype');
}

body
{
    background-color : #010001;
    margin           : 0;
}

form
{
    color            : #008F11;
    font-family      : 'Matrix';
    max-width        : 400px;
	padding          : 10px;
}

h3
{
    color            : #008F11;
    font-family      : 'Matrix';
}

hr
{
    border           : 2px solid #008F11;
    border-radius    : 5px;
    max-width        : 100%;
    object-fit       : cover;
}

img
{
    max-width        : 100%;
    object-fit       : cover;
}

label
{
    clear            : left;
    display          : inline-block;
    text-align       : left;
    width            : 250px;
}

li
{
    color            : #008F11;
    font-family      :  'Matrix';
}

input
{
    color            : #008F11;
    background       : #191919;
    display          : inline-block;
    font-family      : 'Matrix';
}

p
{
    color            : #008F11;
    font-family      :  'Matrix';
}

textarea
{
    color            : #008F11;
    background       : #191919;
    display          : inline-block;
    font-family      : 'Matrix';
}

ul
{
    color            : #008F11;
    font-family      : 'Matrix';
}

/***************************/
/*      CLASS SELECTORS    */
/***************************/

.banner-div
{
    background-color : #010001;
}

.banner-img
{
    display          : block;
    width            : 70%;
    margin-left      : auto;
    margin-right     : auto;
}

.bottom-container
{
    background-color : red;
    width            : 200px;
    height           : 200px;
}

.legal
{
    text-align       : center;
}

.manifesto-div
{
    background-color : #010001;
    text-align       : center;
}

/***************************/
/*      ID SELECTORS       */
/***************************/